/*-----[Numpad structure]---------------------------------------------------*/

#osn-container {
	visibility: hidden;
	position: fixed;
	overflow: hidden;
	padding: 1%;
	margin: 0;
	z-index: 100;
}

	#osn-container > li {
		float: left;
		/*width: 5.81395349%;*/
		/*width: 20%*/
		height: 3em;
		margin: 0 0.726744186% 5px 0;
		line-height: 3em;
		text-align: center;
		list-style-type: none;
		cursor: pointer;
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: -moz-none;
			-ms-user-select: none;
				user-select: none;
	}

	#osn-container > .osn-left {
		clear: left;
	}

	/*#osn-container > .osn-dragger {
		display: none;
		width: 100%;
		cursor: move;
	}

		#osn-container > .osn-dragger:hover {
			position: static;
		}*/

	#osn-container > .osn-backspace,
	#osn-container > .osn-hide {
		/*width: 14.9709302%;*/
		width: 35%;
	}

	/*#osn-container > .osn-capslock {
		width: 13.6337209%;
	}*/

	#osn-container > .osn-zero {
		/*width: 12.4%;*/
		width: 41%;
	}

	/*#osn-container > .osn-return {
		width: 13.6918605%;
	}*/

	/*#osn-container > .osn-shift {
		width: 16.2381395%;
	}*/

	/*#osn-container > .osn-hide {
		width: 17.5581396%;
	}*/

	/*#osn-container > .osn-space {
		clear: left;
		width: 100%;
		margin: 0;
	}*/

	#osn-container > .osn-last-item {
		margin-right: 0 !important;
	}

	#osn-container .osn-on {
		display: none;
	}

	/*#osn-container > .osn-uppercase {
		text-transform: uppercase;
	}

	#osn-container > .osn-disabled {
		cursor: default;
	}

	#osn-container > .osn-disabled:hover {
		position: static;
	}*/

	#osn-container > li:hover {
		position: relative;
		top: 1px;
	}

/*-----[Customisable styles]--------------------------------------------------*/

body {
	padding-bottom: 260px;
}

#osn-container {
	width: 25%;     /* Account for 2% padding and a vertical scroll bar */
	min-width: 250px;
	/*max-width: 1200px;*/
	background: #EEE;
	border-radius: 0.25rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: fixed;
	/*bottom: 15px;*/
	left: 0;
	right: 0;
	margin-top: 250px;
	margin-left: 10px;
	box-sizing: border-box;
	padding: 1% 2%;
}

#osn-container > li {
	background: #FFF;
	color: #000;
	border-radius: .25rem;
	-moz-transition: 0.5s;
	border: 1px solid #adadad;
	box-sizing: border-box;
	width: 20%;
}

/*#osn-container > .osn-dragger {
	background: transparent;
	color: #AAA;
}

#osn-container > .osn-disabled {
	background: #FFF;
	color: #000;
	opacity: 0.65;
	cursor: not-allowed;
}*/

.osn-focused {
	background: #FAFAFA !important;
}
